/* File: src/components/TransferToken.css */

.transfer-token-container {
    background-image: url('main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .transfer-token-box {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    width: 80%;
    max-width: 600px;
  }
  
  .transfer-token-heading {
    font-size: 28px;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .input-container {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 15px;
  }
  
  input {
    padding: 15px;
    margin-bottom: 20px;
    width: calc(100% - 30px); /* Adjusted width to include padding on both sides */
    border: 1px solid #ddd; /* Added a border for a cleaner look */
    border-radius: 8px;
  }
  
  /* Center the button */
  button {
    background-color: #45a049;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure the button takes the full width available */
  }
  
  button:hover {
    background-color: #007bff;
  }
  